body{
    background-color:whitesmoke;
}

.pad{
 margin-bottom: 50px;   
}
.mar{
    padding-top: 45px;
}

.start{
    margin-block-start: 0%;
}
.whiteback{
    background-color:white;
    padding-top: 5%;
}